# Retail Dataset

## Data Analysis in Python

* Q1. What is the total revenue generated by male vs. female customers?
* Q2. Which customers used a discount but still spent more than the average purchase amount? 
* Q3. Which are the top 5 products with the highest average review rating?
* Q4. Compare the average Purchase Amounts between Standard and Express Shipping. 
* Q5. Do subscribed customers spend more? Compare average spend and total revenue between subscribers and non-subscribers.
* Q6. Which 5 products have the highest percentage of purchases with discounts applied?
* Q7. Segment customers into New, Returning, and Loyal based on their total number of previous purchases, and show the count of each segment.
* Q8. What are the top 3 most purchased products within each category? 
* Q9. Are customers who are repeat buyers (more than 5 previous purchases) also likely to subscribe?
* Q10. What is the revenue contribution of each age group?

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./da_ready_data.csv')

In [3]:
# What is the total revenue generated by male vs. female customers?
df.groupby('gender')['purchase_amount'].sum()

gender
Female     75191
Male      157890
Name: purchase_amount, dtype: int64

In [4]:
# Which customers used a discount but still spent more than the average purchase amount? 
average_purchase = df['purchase_amount'].mean()

df[(df['discount_applied'] == 'Yes') & (df['purchase_amount'] > average_purchase)]

#df[(df['discount_applied'] == 'Yes') & (df['purchase_amount'] > average_purchase)].shape[0]

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle Age,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,49,Cash,Quarterly,Senior,90
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,8,Venmo,Annually,Young Adult,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1666,1667,51,Male,Skirt,Clothing,64,Arkansas,M,Blue,Summer,3.1,No,Store Pickup,Yes,47,PayPal,Annually,Middle Age,365
1670,1671,22,Male,Pants,Clothing,73,Utah,L,Cyan,Fall,3.6,No,Free Shipping,Yes,20,Cash,Weekly,Young Adult,7
1672,1673,18,Male,Boots,Footwear,73,South Carolina,L,Gold,Fall,3.8,No,Free Shipping,Yes,15,Venmo,Quarterly,Young Adult,90
1673,1674,21,Male,Blouse,Clothing,62,Hawaii,M,Violet,Fall,3.4,No,Next Day Air,Yes,49,Venmo,Bi-Weekly,Young Adult,14
1675,1676,35,Male,Pants,Clothing,90,Colorado,M,Beige,Spring,4.7,No,Next Day Air,Yes,21,Credit Card,Annually,Adult,365

In [5]:
# Which are the top 5 products with the highest average review rating?

df.groupby('item_purchased')['review_rating'].mean().sort_values(ascending=False).head(5)

item_purchased
Gloves     3.861429
Sandals    3.844375
Boots      3.818750
Hat        3.801299
Skirt      3.784810
Name: review_rating, dtype: float64

In [6]:
# Compare the average Purchase Amounts between Standard and Express Shipping. 

df[df["shipping_type"].isin(["Standard", "Express"])].groupby("shipping_type")["purchase_amount"].mean()

shipping_type
Express     60.475232
Standard    58.460245
Name: purchase_amount, dtype: float64

In [7]:
# Do subscribed customers spend more? 
# Compare average spend and total revenue between subscribers and non-subscribers.

#df.groupby('subscription_status')['purchase_amount'].mean()
#df.groupby('subscription_status')['purchase_amount'].sum()
#df.groupby('subscription_status')['purchase_amount'].agg(['mean', 'sum'])

df.groupby('subscription_status').agg(
    mean_purchase_amount=('purchase_amount', 'mean'),
    sum_purchase_amount=('purchase_amount', 'sum')
)

                     mean_purchase_amount  sum_purchase_amount
subscription_status
No                              59.865121               170436
Yes                             59.491928                62645

In [8]:
# Which 5 products have the highest percentage of purchases with discounts applied?
discounted_purchases = df[df['discount_applied'] == 'Yes'].groupby('item_purchased').size()
total_purchases = df.groupby('item_purchased').size()
discount_percentage = (discounted_purchases / total_purchases) * 100
discount_percentage.sort_values(ascending=False).head(5)

item_purchased
Hat         50.000000
Sneakers    49.655172
Coat        49.068323
Sweater     48.170732
Pants       47.368421
dtype: float64

In [23]:
# Segment customers into New, Returning, 
# and Loyal based on their total number of previous purchases, 
# and show the count of each segment.
df['customer_segment']= df['previous_purchases'].apply(lambda x: 'New' if x == 1 else ('Returning' if 2 <= x <= 10 else 'Loyal'))

#def segment_customer(purchases):
#    if purchases == 0:
#        return 'New'
#    elif purchases < 5:
#        return 'Returning'
#    else:
#        return 'Loyal'

#df['customer_segment'] = df['number_of_previous_purchases'].apply(segment_customer)

In [24]:
df

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days,customer_segment
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle Age,14,Loyal
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14,Returning
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle Age,7,Loyal
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7,Loyal
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle Age,365,Loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,Middle Age,7,Loyal
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,Middle Age,14,Loyal
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,Middle Age,90,Loyal
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,Middle Age,7,Loyal
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,Middle Age,90,Loyal

In [25]:
df['customer_segment'].value_counts()

customer_segment
Loyal        3116
Returning     701
New            83
Name: count, dtype: int64

In [26]:
# What are the top 3 most purchased products within each category? 
df.groupby('category')['item_purchased'].apply(lambda x: x.value_counts().head(3))

category
Accessories  Jewelry       171
             Sunglasses    161
             Belt          161
Clothing     Blouse        171
             Pants         171
             Shirt         169
Footwear     Sandals       160
             Shoes         150
             Sneakers      145
Outerwear    Jacket        163
             Coat          161
Name: item_purchased, dtype: int64

In [27]:
# Are customers who are repeat buyers (more than 5 previous purchases) also likely to subscribe?
df[df['previous_purchases'] > 5]['subscription_status'].value_counts()

subscription_status
No     2518
Yes     958
Name: count, dtype: int64

In [30]:
# What is the revenue contribution of each age group? 
df.groupby('age_group')['purchase_amount'].sum()

age_group
Adult          53144
Middle Age     89741
Senior         46894
Young Adult    43302
Name: purchase_amount, dtype: int64